* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    min-height: 0;
}

:root {
    --padding-inputs: 0.5em;
    --width-inputs-border: 1.5px;
    --radius-inputs: 0.25em;
    --margin-inputs: 0.25em;
    --co-inputs-active-border: #0891b2;
}

body {
    background-color:#e7e5e4 ;
}
.container {
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    display: grid;
    text-align: center;
    justify-items: center;
    grid-template-columns: 30% 1fr;
}

.container * {
    font-size: 1.5rem;
}

.new_book {
    border-right: 4px solid darkgrey;
}

.books_container {
    width: 80%;
}

.books {
    table-layout: auto;
    width: 100%;
    margin: 16px;
    border-spacing: 0;
}

.books th,
.books td {
    border: 2px solid darkgrey;
    padding: 8px;
}

button,
select,
input {
    padding: var(--padding-inputs);
    border: var(--width-inputs-border) solid;
    border-radius: var(--radius-inputs);
    margin: var(--margin-inputs);

    &:focus {
        outline: 0;
    }

    &:active,
    &:hover,
    &:focus {
        border-color:  var(--co-inputs-active-border);
    }
}

.error {
    color: darkred;
    text-align: left;
    font-size: 0.7em;
}
